{% extends 'home.html' %}


{% block content %}

<br>
<br>
<br>
<br>
<br>
<div class="container">

<p><h4>{{ciencias.titulo}}</h4></p>

{% if ciencias.imagenLibro %}
    <p><img src="{{ciencias.imagenLibro.url}}" alt=""></p>
{% endif %}
<p>Autor: {{ciencias.autor}}</p>
<p>Editorial: {{ciencias.editorial}}</p>
<p>Edición: {{ciencias.edicion}}</p>
<p>Descripción: {{ciencias.descripcion}}</p>
<p>Precio(ARS): {{ciencias.precio}}</p>
<p>Teléfono de Contacto: {{ciencias.telefonoContacto}}</p>
<p>Email de Contacto: {{ciencias.emailContacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios</h4>
    <br>
    <div class="container">
    {% if not ciencias.comentarios.all %}
    No han comentado este instrumento
    {% else %}
        {% for comentario in ciencias.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' ciencias.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

