{% extends 'home.html' %}


{% block content %}

<br>
<br>
<br>
<br>
<br>
<div class="container">

<p><h4>{{ficcion.titulo}}</h4></p>

{% if ficcion.imagenLibro %}
    <p><img src="{{ficcion.imagenLibro.url}}" alt=""></p>
{% endif %}
<p>Autor: {{ficcion.autor}}</p>
<p>Editorial: {{ficcion.editorial}}</p>
<p>Edición: {{ficcion.edicion}}</p>
<p>Descripción: {{ficcion.descripcion}}</p>
<p>Precio(ARS): {{ficcion.precio}}</p>
<p>Teléfono de Contacto: {{ficcion.telefonoContacto}}</p>
<p>Email de Contacto: {{ficcion.emailContacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios</h4>
    <br>
    <div class="container">
    {% if not ficcion.comentarios.all %}
    No han comentado este instrumento
    {% else %}
        {% for comentario in ficcion.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' ficcion.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

