{% extends 'home.html' %}


{% block content %}

<br>
<br>
<br>
<br>
<br>
<div class="container">

<p><h4>{{infantil.titulo}}</h4></p>

{% if infantil.imagenLibro %}
    <p><img src="{{infantil.imagenLibro.url}}" alt=""></p>
{% endif %}
<p>Autor: {{infantil.autor}}</p>
<p>Editorial: {{infantil.editorial}}</p>
<p>Edición: {{infantil.edicion}}</p>
<p>Descripción: {{infantil.descripcion}}</p>
<p>Precio(ARS): {{infantil.precio}}</p>
<p>Teléfono de Contacto: {{infantil.telefonoContacto}}</p>
<p>Email de Contacto: {{infantil.emailContacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios</h4>
    <br>
    <div class="container">
    {% if not infantil.comentarios.all %}
    No han comentado este instrumento
    {% else %}
        {% for comentario in infantil.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' infantil.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

