{% extends 'index.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Buscar autores de los libros</h1>
    <p>Completa con el nombre del libro para ver los autores.</p>
    <form method="get" action="">
        {{mi_formulario.as_p}}   
        <button type="submit">Buscar</button>
    </form>
    {% if libros %}
    <h2>Resultados de la búsqueda: {{autor}}</h2>
    <ul>
        {% for l in libros %}
        <li>{{l.titulo.upper}} - Comisión {{l.autor}} </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay datos con esa descripcion.</p>
    {% endif %}

{% endblock contenidoQueCambia %}